
@font-face {
    font-family: iconfont;
    src: url(../../fonts/iconfont.eot);
    src: url(../../fonts/iconfont.eot#iefix) format("embedded-opentype"), url(../../fonts/iconfont.woff) format("woff"), url(../../fonts/iconfont.ttf) format("truetype"), url(../../fonts/iconfont.svg#iconfont) format("svg")
}

[class*=" icon-"], [class^=icon-] {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-twitter:before {
    content: "\E600"
}

.icon-facebook:before {
    content: "\E601"
}

.icon-clock:before {
    content: "\E602"
}

.icon-mail:before {
    content: "\E609"
}

.icon-link:before {
    content: "\E6AB"
}

.icon-smile:before {
    content: "\E64A"
}

.icon-roundrightfill:before {
    content: "\E65A"
}

.icon-list:before {
    content: "\E682"
}

.icon-book:before {
    content: "\E6FE"
}

.icon-home:before {
    content: "\E6BB"
}

.icon-share:before {
    content: "\E618"
}

.icon-qq:before {
    content: "\E62D"
}

.icon-weibo:before {
    content: "\E619"
}

.icon-sort:before {
    content: "\E700"
}

.icon-circle-left:before {
    content: "\E71F"
}

.icon-circle-right:before {
    content: "\E720"
}

.icon-loading:before {
    content: "\E614"
}

.icon-close:before {
    content: "\E60C"
}

.icon-tumblr:before {
    content: "\E6B0"
}

.icon-calendar:before {
    content: "\E667"
}

.icon-rss:before {
    content: "\E877"
}

.icon-price-tags:before {
    content: "\E6F9"
}

.icon-quo-left:before {
    content: "\E7F5"
}

.icon-quo-right:before {
    content: "\E7F6"
}

.icon-github:before {
    content: "\E735"
}

.icon-film:before {
    content: "\E7B7"
}

.icon-weixin:before {
    content: "\E61F"
}

.icon-qzone:before {
    content: "\E680"
}

.icon-douban:before {
    content: "\E64C"
}

.icon-roundleftfill:before {
    content: "\E799"
}

.icon-tuding:before {
    content: "\E651"
}

.icon-zhihu:before {
    content: "\E61B"
}

.icon-linkedin:before {
    content: "\E6D4"
}

.icon-google:before {
    content: "\E635"
}

 .social {
    margin-top: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

 .social a {
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0 8px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #fff;
    opacity: .7;
    width: 28px;
    height: 28px;
    line-height: 26px
}

 .social a:hover {
    opacity: 1
}

 .social a.weibo {
    background: #aaf;
    border: 1px solid #aaf
}

 .social a.weibo:hover {
    border: 1px solid #aaf
}

 .social a.rss {
    background: #ef7522;
    border: 1px solid #ef7522
}

 .social a.rss:hover {
    border: 1px solid #cf5d0f
}

 .social a.github {
    background: #afb6ca;
    border: 1px solid #afb6ca
}

 .social a.github:hover {
    border: 1px solid #909ab6
}

 .social a.facebook {
    background: #3b5998;
    border: 1px solid #3b5998
}

 .social a.facebook:hover {
    border: 1px solid #2d4373
}

 .social a.google {
    background: #c83d20;
    border: 1px solid #c83d20
}

 .social a.google:hover {
    border: 1px solid #9c3019
}

 .social a.twitter {
    background: #55cff8;
    border: 1px solid #55cff8
}

 .social a.twitter:hover {
    border: 1px solid #24c1f6
}

 .social a.linkedin {
    background: #005a87;
    border: 1px solid #005a87
}

 .social a.linkedin:hover {
    border: 1px solid #006b98
}

 .social a.zhihu {
    background: #0078d8;
    border: 1px solid #0078d8
}

 .social a.zhihu:hover {
    border: 1px solid #0078d8
}

 .social a.douban {
    background: #06c611;
    border: 1px solid #06c611
}

 .social a.douban:hover {
    border: 1px solid #06c611
}

 .social a.mail {
    background: #005a87;
    border: 1px solid #005a87
}

 .social a.mail:hover {
    border: 1px solid #006b98
}


.share-btn {
    float: right;
    position: relative
}

.share-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.share-icons a {
    border: 1px solid #fff;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #fff;
    opacity: .7;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-shadow: 1px 1px 1px #509eb7
}

.share-icons a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.share-icons a.share-outer {
    border: none;
    color: #fff;
    background: #4d4d4d;
    text-shadow: none
}
